:root {
    --wht-grad-bg: linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 42.19%, #CBCBCB 75.52%);
    --grn-grad-bg: linear-gradient(180deg, #006B4C 9.89%, #00563B 54.95%, #003939 97.65%);
    --blck-grad-bg: linear-gradient(180deg, #221E1E 0%, #100A0C 100%);
    --clr-scheme-grn: #205B2D;
    --clr-scheme-blck: #100A0C;
    --clr-scheme-drk-gry: #221E1E;
    --clr-scheme-gry: #919397;
    --clr-scheme-wht: #ffffff;
    --main-font: 'Montserrat';
}

body {
    font-family: var(--main-font);
    background: var(--wht-grad-bg);
}

.header {
    height: auto;
    width: 100vw;
    margin-bottom: 10em;
}

.nav {
    /* background */
    background-color: var(--clr-scheme-wht);
    /* dimensões */
    min-height: 90px;
    width: 100%;
    /* alinhamentos */
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: center;
    padding-left: 5em;
    margin-right: 1em;
    /* estilos */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    /* posição */
    position: fixed;
    z-index: 2;
    top: 0;
}

.header__logo {
    width: 194.83px;
    height: 50px;
}

.header__logo:hover {
    scale: 1.1;
}

.header__navlist {
    /* alinhamento */
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 2em;
    padding-left: 5em;
    /* estilos */
    color: var(--clr-scheme-wht);
    /* back */
    background: url("../imgs/header/greenBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;


    
}

.header__navitem:hover {
    scale: 1.1;
}

.header__navitem a {
    /* posição */
    display: inline-block;
    /* alinhamento */
    text-align: center;
    /* estilos */
    color: var(--clr-scheme-wht);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.header__navitem img {
    height: 1em;
    margin-right: 0.3em;
}

.nav__button {
    background: var(--blck-grad-bg);
    border-radius: 20px;
    padding: 0.5em 2em;
    margin-left: 1em;
}

.container {
    height: auto;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 15%;
    left: 5em;
    right: auto;
    bottom: 0;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: var(--clr-scheme-blck);
    cursor: pointer;
    border: none;
    background: transparent;
}

.arrow-right {
    left: auto;
    right: 5em;
}

.item {
    width: 250px;
    height: 250px;
}

#zero {
    width: 1px;
    height: 1px;
    display: block;
}

.current-item {
    opacity: 0.4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}