@import url("reset.css");

:root {
  --wht-grad-bg: linear-gradient(
    180deg,
    #ffffff 0%,
    #eaeaea 42.19%,
    #cbcbcb 75.52%
  );
  --grn-grad-bg: linear-gradient(
    180deg,
    #006b4c 9.89%,
    #00563b 54.95%,
    #003939 97.65%
  );
  --blck-grad-bg: linear-gradient(180deg, #221e1e 0%, #100a0c 100%);
  --clr-scheme-grn: #205b2d;
  --clr-scheme-blck: #100a0c;
  --clr-scheme-drk-gry: #221e1e;
  --clr-scheme-gry: #919397;
  --clr-scheme-wht: #ffffff;
  --circle-bg: #100a0c;
  --navbarBg: #ffffff;
  --scroll-bar-clr1: #221e1e;
  --scroll-bar-clr2: #100a0c;
  --scroll-bar-clr3: #ffffff;
  --logoboxBG: transparent;
  --selection: #221e1e55;
  --main-font: "Montserrat";
}

.darkTheme {
  --wht-grad-bg: linear-gradient(180deg, #221e1e 0%, #100a0c 100%);
  --clr-scheme-blck: #ffffff;
  --clr-scheme-drk-gry: #ffffff;
  --navbarBg: #100a0c;
  --circle-bg: #205b2d;
  --scroll-bar-clr1: #919397;
  --scroll-bar-clr2: #919397;
  --scroll-bar-clr3: #100a0c;
  --logoboxBG: linear-gradient(
    180deg,
    #ffffff 0%,
    #eaeaea 42.19%,
    #cbcbcb 75.52%
  );
  --selection: #91939755;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bar-clr3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-clr2);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-clr1);
}

/* SELEÇÃO */
::selection {
  color: var(--clr-scheme-wht);
  background-color: var(--selection);
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0px 0px 10px #ffffff55;
}

html {
  max-width: 1920px;
}

body {
  font-family: var(--main-font);
  background: var(--wht-grad-bg);
  width: 100%;
  overflow-y: scroll;
}

header {
  min-height: 90px;
  width: 100%;
  max-width: 1920px;
  margin-bottom: 0px;
}

/* BARRA DE NAVEGAÇÃO ---------------------------------------------------------------------- */
.nav__wrapper {
  /* min-height: 90px; */
  height: auto;
  width: 100%;
}

.nav__container {
  /* background */
  background-color: var(--navbarBg);
  /* dimensões */
  min-height: 90px;
  height: auto;
  width: 100%;
  max-width: 1920px;
  /* alinhamentos */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  /* estilos */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  /* posição */
  position: fixed;
  z-index: 2;
  top: 0;
}

.nav__logo__wrap {
  width: 30%;
  height: 100%;
}


.nav__logo {
  width: 194.83px;
  height: 50px;
}

.nav__logo:hover {
  scale: 1.1;
  cursor: pointer;
}

.menu__wrapper {
  height: 100%;
  width: 70%;
}

.nav__menu {
  /* alinhamento */
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 30px;
  padding-left: 100px;
  flex-shrink: 0;
  /* estilos */
  color: var(--navbarBg);
  /* back */
  background: url("../imgs/header/greenBg4k.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
}

.nav__menu__item:hover {
  scale: 1.1;
}

.nav__menu__item {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__menu__item a {
  /* posição */
  display: inline-block;
  /* alinhamento */
  text-align: center;
  /* estilos */
  color: var(--clr-scheme-wht);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.nav__menu__item img {
  height: 1em;
  margin-right: 0.2em;
}

/* botão orçamento */
.nav__button {
  background: var(--blck-grad-bg);
  border-radius: 20px;
  padding: 0.2em 1em;
}

.nav__themeBtn {
  background: none;
  font-size: 30px;
  color: var(--clr-scheme-wht);
  cursor: pointer;
  transform: translateX(150px);
}

.nav__themeBtn:hover {
  transform: translateX(140px);
}

/* NAVEGAÇAO MOBILE */
.mblnav__button {
  display: none;
}

.mblnav__button__wrapper {
  display: none;
}

.mblnav__container {
  display: none;
}







/* CARROSSEL (estilo do carrossel está no slides.css) ----------------------------------------------------------------------*/

/* QUEM SOMOS ----------------------------------------------------------------------*/
.main__container {
  overflow: hidden;
  height: 90vh;
  max-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.main__wrapper {
  display: flex;
  align-content: center;
  column-gap: 30px;
}

.main__img {
  width: 657px;
  height: 510px;
}

.main__content {
  padding-right: 100px;
  text-align: left;
}

.content__title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  color: var(--clr-scheme-blck);
  margin-bottom: 20px;
}

.content__text {
  /* tabulação */
  text-indent: 2em;
  color: var(--clr-scheme-drk-gry);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.content__text em {
  color: var(--clr-scheme-grn);
  font-weight: 500;
}

/* MISSÃO, VISÃO, VALORES ----------------------------------------------------------------------*/

.mvv__container {
  margin-top: 0px;
  height: 80vh;
  max-height: 1080px;
  max-width: 100%;
  overflow: hidden;
}

.mvv__wrapper {
  height: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 40px;
}

.circle {
  width: 350px;
  height: 350px;
  background: var(--circle-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--clr-scheme-wht);
}

.circle h2 {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 50px;
}

.circle p,
.circle ul {
  font-weight: 500;
  font-size: 25px;
  text-align: justify;
  padding: 0 40px;
}

.circle.values ul {
  text-align: center;
}

.circle.vision {
  width: 500px;
  height: 500px;
}

.leftTrans--scroll {
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 0.4s ease-out;
  transition-delay: 0.2s;
}

.centerTrans--scroll {
  opacity: 0;
  transition: transform 0.4s ease-out;
  transition-delay: 0.4s;
}

.rightTrans--scroll {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.4s ease-out;
  transition-delay: 0.2s;
}

.upNdwn__restart--scroll {
  opacity: 1;
  transform: translateX(0);
}

/* FLUXO ADM ----------------------------------------------------------------------*/

.wrkflw__container {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.wrkflw__wrapper {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.wrkflw__title {
  font-weight: 600;
  font-size: 60px;
  color: var(--clr-scheme-blck);
  text-align: center;
  margin: 0 0 50px;
}

.wrkflw__list {
  display: flex;
  flex-direction: column;
}

/* .wrkflw__lstItem {
} */

.wrkflw__btnWrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.wrkflw__btnWrapper:hover {
  scale: 1.01;
  transform: translateX(6px);
}

.wrkflw__btn {
  background: transparent;
  width: 120px;
  height: 120px;
  border: var(--clr-scheme-grn) solid 4px;
  border-radius: 50%;
  color: var(--clr-scheme-grn);
  font-size: 60px;
  cursor: pointer;
}

.wrkflw__btnTitle {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--clr-scheme-blck);
  cursor: pointer;
}

.wrkflw__btnTitle em {
  color: var(--clr-scheme-grn);
}

.wrkflw__btn--active {
  text-shadow: 0px 0px 3px var(--clr-scheme-grn);
  box-shadow: 0 0 20px #00000099;
}

.wrkflw__btnDesc {
  margin: -30px 0px 30px 60px;
  padding: 0 0 20px 60px;
  border-left: var(--clr-scheme-grn) solid 4px;
  border-bottom: var(--clr-scheme-grn) solid 4px;
  border-bottom-left-radius: 60px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2em;
  color: var(--clr-scheme-drk-gry);
  text-align: justify;
  text-indent: 2em;
}

.wrkflw__btnDesc--hide {
  display: none;
  transition: all 1s;
}

/* PROJETOS ----------------------------------------------------------------------*/
.projects__container {
  margin-top: 50px;
  overflow: hidden;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.projects__title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  color: var(--clr-scheme-blck);
  margin-bottom: 50px;
}

.projects__menu {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.projects__item {
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: var(--clr-scheme-wht);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 30px;
  text-decoration: none;
}

.projects__item:hover {
  scale: 1.01;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.projects__item--1 {
  background: url("../imgs/projects/pjctsPh1-2k.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px;
}

.projects__item--2 {
  background: url("../imgs/projects/pjctsPh2-2k.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px;
}

.projects__item--3 {
  background: url("../imgs/projects/pjctsPh3-2k.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px;
}

/* CLIENTES ----------------------------------------------------------------------*/
.clients__container {
  margin-top: 50px;
  overflow: hidden;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.clients__title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  color: var(--clr-scheme-blck);
  margin-bottom: 50px;
}

.logos__wrapper {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.logo__box {
  width: 320px;
  height: 200px;
  padding: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--logoboxBG);
  border-radius: 10px;
}

.logo__box:hover {
  scale: 1.05;
}

.clients__logo--1 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-ambev-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--1:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-ambev.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--2 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-brainfarma-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--2:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-brainfarma.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--3 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-canoa-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--3:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-canoa.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--4 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-crown-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--4:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-crown.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--5 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-ecorodovias-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--5:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-ecorodovias.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--6 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-equiplex-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--6:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-equiplex.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--7 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-faberprint-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--7:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-faberprint.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--8 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-fresenius-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--8:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-fresenius.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--9 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-isoeste-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--9:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-isoeste.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--10 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-nacgas-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--10:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-nacgas.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--11 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-portoseco-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--11:hover {
  background: no-repeat center
    url("../imgs/clients/logos-clr/logo-portoseco.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--12 {
  background: no-repeat center
    url("../imgs/clients/logos-no-clr/logo-triunfo-noclr.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

.clients__logo--12:hover {
  background: no-repeat center url("../imgs/clients/logos-clr/logo-triunfo.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}

/* FOOTER ----------------------------------------------------------------------*/
.footer__container {
  margin-top: 50px;
  overflow: hidden;
  max-height: 1080px;
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  background: var(--grn-grad-bg);
  column-gap: 20px;
}

.footer__div--1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 15px;
}

.title-n-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
}

.footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3em;
  color: var(--clr-scheme-wht);
  width: 550px;
  margin-bottom: 0.3em;
}

.footer__btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__btn {
  text-decoration: none;
  color: var(--clr-scheme-wht);
  font-weight: 700;
  font-size: 45px;
  background: var(--blck-grad-bg);
  border-radius: 60px;
  padding: 0.2em 2em;
}

.footer__btn:hover {
  scale: 1.1;
}

.footer__desc {
  font-weight: 400;
  font-size: 20px;
  color: var(--clr-scheme-wht);
  line-height: 1.3em;
  max-width: 620px;
  text-align: left;
}

.footer__openHr {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: left;
  align-items: center;
}

.openHr__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3em;
  color: var(--clr-scheme-wht);
  max-width: 400px;
  text-align: justify;
}

.openHr__table {
  color: var(--clr-scheme-wht);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.openHr__table th,
td {
  padding: 0.1em .5em;
  vertical-align: middle;
  width: 100%;
}

.column--1 {
  border-right: solid var(--clr-scheme-wht) 2px;
  border-radius: 60px;
}

.footer__div--2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 50%;
  column-gap: 10px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer__logoImg {
  width: 140px;
  height: 138px;
}

.footer__bar {
  height: 80%;
  width: 5px;
  background: var(--clr-scheme-wht);
  border-radius: 60px;
  margin-left: 50px;
}

.footer__contact {
  color: var(--clr-scheme-wht);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5em;
  text-align: justify;
}

.footer__socials {
  display: flex;
  margin-top: 15px;
  column-gap: 20px;
}

.footer__socials a {
  color: var(--clr-scheme-wht);
  text-decoration: none;
  font-size: 40px;
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.footer__socials a:hover {
  scale: 1.1;
}

/* ---------------------------------------------------------------- */

@media screen and (max-width: 896px) {
  header {
    min-height: 45px;
  }

  .nav__container {
    min-height: 45px;
    grid-template-columns: 30% 70%;
    padding-left: 50px;
  }

  .nav__logo {
    width: 117.35px;
    height: 30px;
  }

  .nav__menu {
    padding-left: 40px;
    column-gap: 10px;
  }

  .nav__menu__item a {
    font-size: 14px;
  }

  .nav__button {
    padding: 0.1em 0.5em;
  }
}

/* ------------------------------------------------------------------- */

/* responsividade para mobile */
@media screen and (max-width: 450px) {
  /* BARRA DE NAVEGAÇÃO ------------------------------------------------------- */
  .nav__container {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .nav__menu {
    background: none;
    display: none;
  }

  .nav__menu__item {
    display: none;
  }

  .menu__wrapper {
    display: none;
  }

  .mblnav__button__wrapper {
    display: flex;
    width: 36%;
    justify-content: right;
  }

  .mblnav__button {
    color: var(--clr-scheme-blck);
    font-size: 26px;
    background: none;
  }

  .mblnav__button--active {
    scale: 1.01;
    cursor: pointer;
  }

  .mblnav__container {
    display: flex;
    text-align: center;
    position: fixed;
    background: var(--navbarBg);
    border-bottom-left-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    z-index: 2;
    right: 0px;
    width: 40%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translate(200px, 0);
    transition: transform 1s ease-in-out;
  }

  .mblnav__container--active {
    transform: translate(0px, 0);
    transition: transform 1s ease-in;
  }

  .mblnav__wrapper {
    width: 100%;
  }

  .mblnav__menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
  }

  .mblnav__menu__item {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
  }

  .mblnav__navlink {
    width: 100%;
    text-decoration: none;
    color: var(--clr-scheme-blck);
  }

  .mblnav__themeBtn {
    border-bottom-left-radius: 20px;
    font-size: 20px;
    background: none;
    padding-bottom: 5px;
    color: var(--clr-scheme-blck);
  }

  /* .mblnav__bgtBtn {

  } */

  .mblnav__bgtBtn a {
    color: var(--clr-scheme-grn);
  }

  





  /* QUEM SOMOS ------------------------------------------------------- */
  .main__container {
    height: 70vh;
    padding: 0;
    margin: 0;
  }

  .main__wrapper {
    padding: 0;
  }

  .main__img {
    display: none;
  }

  .main__content {
    padding: 0 30px;
    margin: 0;
  }

  .content__title {
    font-size: 25px;
  }

  .content__text {
    font-size: 16px;
  }

  /* M V V ------------------------------------------------------- */
  .mvv__container {
    height: 100%;
    background: var(--clr-scheme-drk-gry);
  }

  .mvv__wrapper {
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .circle {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .circle h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .circle p,
  .circle ul {
    font-size: 16px;
    text-align: center;
    padding: 0 15px;
  }

  .circle.values ul {
    text-align: center;
  }

  .circle.vision {
    width: 100%;
    height: auto;
  }

  .leftTrans--scroll,
  .rightTrans--scroll,
  .centerTrans--scroll {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
  }

  .upNdwn__restart--scroll {
    opacity: 1;
    transform: translateX(0);
  }

  /* WORKFLOW ------------------------------------------------------- */

  .wrkflw__wrapper {
    padding: 0 10px;
  }

  .wrkflw__title {
    font-size: 25px;
    margin: 0 0 20px;
  }

  .wrkflw__list {
    display: flex;
    flex-direction: column;
  }

  .wrkflw__btnWrapper {
    display: flex;
    column-gap: 5px;
    margin: 10px 0;
    cursor: pointer;
  }

  .wrkflw__btnWrapper:hover {
    scale: 1;
    transform: translateX(0px);
  }

  .wrkflw__btn {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    font-size: 30px;
  }

  .wrkflw__btnTitle {
    font-size: 20px;
    flex-wrap: nowrap;
    margin: 0 5px;
  }

  .wrkflw__btnDesc {
    margin: -10px 0 0 29.5px;
    padding: 0px 10px 20px 10px;
    border-bottom-left-radius: 60px;
    font-size: 16px;
  }

  /* PROJETOS ----------------------------------------------------------------------*/
  .projects__container {
    margin-top: 50px;
    overflow: hidden;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .projects__title {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .projects__menu {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .projects__item {
    width: 105%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
  }

  .projects__item--1 {
    background-size: 100%;
    background-position: 0px;
  }

  .projects__item--2 {
    background-size: 100%;
    background-position: 0px -50px;
  }

  .projects__item--3 {
    background-size: cover;
    background-position: 0px -150px;
  }

  /* CLIENTES ----------------------------------------------------------------------*/
  .clients__container {
    margin-top: 30px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .clients__title {
    font-size: 25px;
    color: var(--clr-scheme-blck);
    margin-bottom: 20px;
  }

  .logos__wrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 10px;
    row-gap: 0px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    flex-shrink: 0%;
    flex-direction: row;
    padding: 20px 10px;
  }

  .logo__box {
    width: 200px;
    height: 150px;
    padding: 25px;
    flex-shrink: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--logoboxBG);
    border-radius: 10px;
  }

  .logo__box:hover {
    scale: 1.05;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none;
  }

  /* FOOTER ----------------------------------------------------------------------*/
  .footer__container {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    column-gap: 0px;
  }

  .footer__div--1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 5px;
  }

  .title-n-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
  }

  .footer__title {
    font-size: 25px;
    width: 100%;
  }

  .footer__btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__btn {
    font-size: 20px;
  }

  .footer__btn:hover {
    scale: 1.1;
  }

  .footer__desc {
    font-weight: 400;
    font-size: 15px;
    max-width: 100%;
    text-align: justify;
  }

  .footer__openHr {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    justify-content: left;
    align-items: center;
  }

  .openHr__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3em;
    color: var(--clr-scheme-wht);
    max-width: 400px;
    width: 80%;
    text-align: justify;
  }

  .openHr__table {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  .openHr__table th,
  td {
    padding: 0.2px 0.2em;
  }

  .footer__div--2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 0px;
    margin-top: 10px;
  }

  .footer__logo {
    display: flex;
    flex-direction: column;
  }

  .footer__logoImg {
    display: none;
  }

  .footer__bar {
    display: none;
  }

  .footer__contact {
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    column-gap: 20px;
    text-align: center;
    vertical-align: middle;
  }

  /* .footer__socials a {
    color: var(--clr-scheme-wht);
    text-decoration: none;
    font-size: 40px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  }

  .footer__socials a:hover {
    scale: 1.1;
  } */
}
